---
layout: default
title: Events
suppress_header: true
description: Where you'll find information on the GitLab happenings circuit
extra_css:
  - events.css
extra_js:
  - events.js
extra_font:
  - Roboto+Slab
---

-# THE CONTENT FOR THIS PAGE IS IN https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/events.yml

.simple-header
  %h1
    GitLab Events
  %p
    Learn more about software excellence with GitLab. We will be
    attending, hosting, and running numerous events in #{Date.today.year},
    and cannot wait to see you there!
.page-container.upcoming-events.text-center.animated
  .row
    .container.filters-container
      .dropdown#event-types
        %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
          .dropdown-title
          %i.fa.fa-chevron-down
        %ul.dropdown-menu.dropdown-scroll
      .dropdown.level#event-location
        %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
          .dropdown-title
          %i.fa.fa-chevron-down
        %ul.dropdown-menu.dropdown-scroll
  .row
    %ul.event-list{role: "navigation"}
      - data.events.each do |event|
        - ev_date_ends = Date.parse(event.date_ends)
        - if ev_date_ends >= Date.today
          %li{ data: { region: event.region ? event.region : 'Other' } }
            .event-headers
              %h3.event-topic
                %span.fa.fa-chevron-right
                = event.type == 'Diversity' ? '(Diversity Sponsorship) ' + event.topic : event.topic
              %p.event-type.visible-xs-block
                = event.type
              %h3.event-date
                = event.date
              %p.event-location.visible-xs-block
                = event.location
              .clearfix
            .event-subheaders.hidden-xs
              %p.event-type
                = event.type == 'Diversity' ? 'There is no information about GitLab at this event.' : event.type
              %p.event-location
                = event.location
              .clearfix
            %div
              %p.event-description
                = event.description
            .social-tags.visible-xs-block
              - event.social_tags&.split(',')&.each do |tag|
                %a.social-tag{ href: "https://www.twitter.com/hashtag/#{tag}", target: "_blank" }
                  %i.fab.fa-twitter
                  = "##{tag}"
            .event-buttons
              -# Social buttons
              .buttons
                - if event.event_url.nil?
                  %button.btn.cta-btn.btn-disabled
                    - if event.type == 'Diversity'
                      Come visit!
                    - else
                      Coming soon!
                - else
                  %a.btn.cta-btn.accent{href:event.event_url}
                    - if event.type == 'Diversity'
                      Come visit!
                    - else
                      Join Us!
              .social-tags.hidden-xs
                - event.social_tags&.split(',')&.each do |tag|
                  %a.social-tag{ href: "https://www.twitter.com/hashtag/#{tag}", target: "_blank" }
                    %i.fab.fa-twitter
                    = "##{tag}"
              .clearfix
    .center-horizontal
      %nav
        %ul.pagination
          %li
            %a{href:"#"}
              <<
          %li
            %a{href:"#"}
              1
          %li
            %a{href:"#"}
              >>
    .rad-event-container
      .rad-event
        %h2
          Know about an amazing event we should be at?
        %p
          We'd love to help you
        %a.btn.cta-btn.btn-red{type:"button", href:"/find-a-speaker/"}
          Find a Speaker
.page-container.missed-events.text-center.animated
  %h2
    Sorry we missed you 🙁
  %p
    Check out some other stuff GitLab has been up to
  .row.event-recap
    .col-md-4.image-card-container
      .image-card
        = image_tag "/images/events/introducing-auto-devops.png", alt: "event 1"
        .image-card-text
          %a{href: "https://www.youtube.com/watch?v=KGrJguM361c"}
            Introducing Auto DevOps
    .col-md-4.image-card-container
      .image-card
        = image_tag "/images/unsplash/fireworks.png", alt: "event 2"
        .image-card-text
          %a{href: "https://www.youtube.com/watch?v=IZ3ABxXMXMs&t=4s"}
            GitLab 9.3 Released
    .col-md-4.image-card-container
      .image-card
        = image_tag "/images/events/getting-started-with-git.png", alt: "event 3"
        .image-card-text
          %a{href: "http://get.gitlab.com/getting-started-with-git/"}
            Getting Started With Git
  .row.rad-event-container
    .rad-event.rad-event-alt
      %h2
        GitLab Diversity Sponsorship
      %a.btn.cta-btn.btn-red{type:"button", href: " /2016/03/24/sponsorship-update/"}
        Learn more
