!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{class: "#{page_classes} static-nav #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav", offset: "90"}}
    = partial "includes/hello-bar-bottom"
    = partial "includes/google/gtm"
    = partial "includes/hello-bar"
    = partial "includes/layout/header-dark"
    = partial "includes/layout/headline"
    = yield
    = partial "includes/layout/footer"
