.hello-bar-wrapper
  %a.hello-bar-bottom.animated.hello-bar{ href: '/2018/07/18/install-gitlab-one-click-gcp-marketplace/#join-us-at-google-next', target: '_blank' }
    .hello-bar-content.flex-wrap-md
      = image_tag "/images/logos/google-next-logo.svg", alt: "Google Next Logo SVG"
      %p
        Join us at Google Next in San Francisco, July 24-27!
